// Figma do projeto
// https://www.figma.com/file/2hwfinuPkOtqIqeZwpHaUT/BOR002_site-construcao_01_tb?node-id=1671%3A2

$font-family-default: "Work Sans", sans-serif; // peso 500
$font-family-title: "Petrona", serif; // pesos 900

// Cores
$primary: #b28e59;
$bg: #354268;
$preto: #5d5d5d;
$white: #ffffff;
$dark: #000;
$gray: #5c5c5c;
$red: #8d2d26;
